nav{
    position: fixed;
    background-color: blue;
    top: 0%;
    width: 100%;
}


li{
    float: left;
}
li a:hover:no(.active){
    background-color: cornflowerblue;
}

.active{
    background-color: crimson;
}